{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h1>Topics</h1>
{% endblock page_header %}

{% block content %}


    {% for topic in topics %}

    <div class="card mb-3">
        <a href="{% url 'learning_logs:topic' topic.id %}" class="card-header text-decoration-none">
            <h5 >{{ topic.text }}</h5>
        </a>
    </div>
    {% empty %}
    <p>No topics have been added yet.</p>
    {% endfor %}

 <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary btn-sm mt-1"> Add a new topic </a> 

{% endblock content %}